.logo {
  margin: 3.2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.logolink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 4.2rem;
  text-decoration: none;
  color: var(--primary);
}

.logoLink:hover {
  filter: brightness(50%);
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
