.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24rem;
  transition: all 0.1s easy-in-out;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 0.8rem;
}

.button svg {
  width: 2.4rem;
  height: 2.4rem;
}

.button:hover {
  filter: brightness(0.8);
}

.green {
  background: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background: var(--error);
  color: var(--text-over-primary);
}
